{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    <section class="article-tags">
        <h2 class="widget-title section-title">FEATURED ARTICLES</h2>
        <a href="/about"><span style="font-weight:bold;">Learn more about The Awakening</span></a>
        <a href="/sai95"><span style="font-weight:bold;">SAI95 Pathways of LOVE</span></a>
    </section>

    <br />

    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" . }}
{{ end }}